.behindSignon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width:50%;
    margin-left:25%;
    z-index: -999;
}
.behindSignonImgBkg {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: 29%;
    background-color: rgb(57, 150, 187);
    border: 3px solid black;
    margin-top: 10px;
}
.behindSignon img {
    width: 50%;
    margin-left:59%;
}